html {
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}
header {
  margin-top: 0;
  position: fixed;
  display: flex;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

.logo {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  align-items: flex-start;
}
nav {
  text-align: right;
  flex-grow: 1;
}
nav span {
display: inline-block;
padding: 20px 10px;
}
a {
  color: seashell;
}
#mission{
display: flex;
width: 1200px;
height: 700px;
padding-top: 70px;
margin: 0 5%;
align-items: stretch;
flex-direction: column;
justify-content: center;
background-image: url("../images/mission-background.jpg")

}
#mission .content, .location{
  background-color: black;
}
.location{
  opacity: 1;
  padding: 10px;
  margin: 5px 20px;
  width: 300px;
}
#store{
  display: block;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}
#locations{
  margin: 70px 5% 0 5%;
  padding-top: 70px;
  height: 550px;
  background-image: url("../images/locations-background.jpg")
}
#contact{
  height: 200px;
}
.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item img{
  width: 300px;
  height: 200px;
  margin: 10px;
  display: block;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

main{
  display: flex;
  flex-direction: column;
}
footer{
  text-align: left;
  margin-left: 20px;
}
